.page {
    background-color: #ffffff;
    color: #1a1b22;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    max-width: 1440px;
    min-width: 320px;
    margin: 0 auto;
    align-items: center;
  }